
  .PropertyDetails {
    width: 600px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  }
  
   
    
    .form-group {
      margin-bottom: 20px; 
    }
    
    .form-label {
      display: block;
      margin-bottom: 8px;
      font-weight: bold;
    }
    
    .form-control {
      width: 100%;
      padding: 8px;
      margin-bottom: 8px;
      border: 1px solid #ccc;
      border-radius: 4px;
    }
    
    .form-select {
      width: 100%;
      padding: 8px;
      margin-bottom: 8px;
      border: 1px solid #ccc;
      border-radius: 4px;
    }
    
    .non-valid {
      color: red;
      font-size: 12px;
      margin-top: 4px;
    }
    
    .bton {
      background-color: #00a6a0;
      color: #fff;
      padding: 10px 20px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }
    
    .bton:hover {
      background-color: #f18d9e;
    }
    
    form .box select.custom-select {
      width: 500px; /* The select element will have a fixed width of 300px */
      background-color: #f0f0f0; /* The select element will have a light gray background */
      font-size: 16px; /* The text inside the select element will be 16px */
    }