.property-types {
  margin: 20px; /* Auto margins to center the card, 20px vertical margin to separate it from other components */
  padding: 4rem;
  color: white;
  border-radius: 6px;
  background-color: #00a6a6;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2); /* Box shadow to give the card a "lifted" effect */
}

#types {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1rem;
}
#types menu {
  margin: 50px;
  display: flex;
  gap: 0.5rem;
  list-style: none;
  justify-content: center;
}
section h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: white;
}

.centered-text{
  color: white;
}

  #types menu, button {
    border: none;
    border-radius: 5px;
    align-items: center;
    background-color: transparent;
    color: #ebe7ef;
    font-family: 'Salsa', cursive;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }

  #types menu button:hover {
    background-color: #E6D72A;
    color: #000000;
  }
  #types menu button.active {
    background-color: #dc3344;
    color: #ebe7ef;
  }
  