.profile-tabs {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    width: 110%;
    color: black;
    text-align: center;
    justify-content: center;
   
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    gap: 9px;
    width: 100%;
}



h1 { font-size: 24px;
    font-weight: bold;
    color: wheat;
    text-align: center;
}

.tab {
   
    margin-bottom: 10px;
}

.active-tab {
    border-bottom: 3px solid #e6d72a;
    background-color: #98dbc6;
    border-radius: 5px;
  
}

.col-2 {
    flex: 1;
    padding: 0 50px;
    
  }
  
  /* Apply styles for py-4 class */
  .py-4 {
    padding-top: 12px; /* You can adjust the value based on your design */
    padding-bottom: 12px; 
  }