button {
    padding: 10px 20px;
    font-size: 1em;
    color: #fff;
    background-color: #e6d72a;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #98dbc6;
}