.searchbar{
    background: transparent;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Salsa', cursive;
  }
  .searchbar .container1 {
    width: 100%;
    max-width: 800px;
    padding: 0 20px;
  }

.searchbar h1 {
    color: #E6D72A;
    font-size: 48px;
    text-align: center;
    font-family: 'Salsa', cursive;
  }


  .searchbar p {
    color:transparent ;
    opacity: 0.8;
    text-align: center;
    font-family: 'Salsa', cursive;
    font-size: 40px;
  }
  form {
    background-color: transparent;
    border-radius: 5px;
    margin-top: 20px;
    padding: 0 20px;
  }
  form input {
    padding: 10px;
    width: 100%;
    border: 1px solid rgba(255, 44, 44, 0.2);
    margin-top: 5px;
    border-radius: 4px;
  }
  form span {
    font-size: 30px;
    color: rgb(250, 250, 250);
    font-family: 'Salsa', cursive;
  }
  input::placeholder {
    font-size: 17px;
    color: black;
    font-family: 'Salsa', cursive;
  }
  form .box {
    padding: 15px;
    border-left: 1px solid rgba(128, 128, 128, 0.2);
  }
  form .box:nth-child(1) {
    border-left: none;
  }

  @media screen and (max-width: 800px) {
    .searchbar .container {
      padding-top: 30%;
    }
    form {
      display: flex;
      flex-wrap: wrap;

    }
    form .box {
      border-left: none;
    }
    form input {
      width: 100%;
    }
  }

  .custom-select {
    width: 100%;
    padding: 8px 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: white;
    -webkit-appearance: none; /* for iOS */
    -moz-appearance: none; /* for Firefox */
    appearance: none; /* For modern browsers */
    position: relative;
}

/* For the arrow symbol on the right side of the select */
.custom-select:after {
    content: '▼';
    padding: 12px;
    background: #ccc;
    position: absolute;
    right: 0px;
    top: 0px;
    pointer-events: none;
}

  .btn {
    background-color: #E6D72A; /* Green */
    border: none;
    font-family: 'Salsa', cursive;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 0.4s;
  }
  
  .btn:hover {
    background-color: #F18D9E; 
    color: black; 
    border: 2px solid #F18D9E;
  }

