header img {
    height: 11rem;
    width: 11rem;
    margin-left: 850px;
    align-items: center;
    justify-content: center;
    display: flex;

}

header h1 {
    margin: 0;
    font-size: 6rem;
    background: #0dc8c8;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    filter: drop-shadow(0 2px 8px rgba(0, 0, 0, 0.5));
}

header p {
    margin: 0;
    font-size: 1.50rem;
    color: #57f7c4;
    font-weight: bold;
}

header .logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}

.center-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; /* This makes the .center-logo div take up the full width of the header */
  }