header img {
    height: 10rem;
    width: 10rem;
    object-fit: cover;
}

header h1 {
    margin: 0;
    font-size: 6rem;
    background: #0dc8c8;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    filter: drop-shadow(0 2px 8px rgba(0, 0, 0, 0.5));
}

header p {
    margin: 0;
    font-size: 1.50rem;
    color: #57f7c4;
    font-weight: bold;
}


