* {
    font-family: 'Salsa', cursive;
    
}

html {
    line-height: 1.5;
    color: #ebe7ef;
    background: #c1354c;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}



